ul {
    margin: 10px 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.prato {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    transition: ease 0.6s all;
}

.prato img {
    max-width: 20vw;
    border-radius: 10px;
}

.prato:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.308);
    transform: scale(1.1);
}